:root {
  --yesil: #31cdd9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  width: 1440px;
  height: 1073.9px;
  padding-top: 32px;
  padding-left: 149px;
  padding-right: 232px;
  background-image: url("../images/Group43.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f7f9fc;
}

.header nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.header nav ul {
  list-style: none;
  display: flex;
}
.header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li .Rectangle-17 {
  display: flex;
  padding: 11px 36px 11px 35px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #667180;
  border: solid 1px #667180;
  border-radius: 8px;
}
.header nav ul li .Rectangle-18 {
  display: flex;
  padding: 11px 36px 11px 35px;
  margin-left: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #31cdd9;
  border: solid 1px #667180;
  border-radius: 8px;
}

.header nav ul li .Rectangle-18 img {
  margin-left: 11px;
}
.hero {
display: flex;
  padding-top: 134px;
  padding-bottom: 114px;
}


.hero h1 {
  width: 655px;
  height: 160px;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.79px;
  text-align: left;
  color: var(--yesil);
  margin-top: 24px;
}
.hero .top {
  flex-grow: 1;
}

.hero p {
  width: 655px;
  height: 168px;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.24px;
  text-align: left;
  color: #667180;
}

.hero p span {
  font-weight: bold;
}

.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.center .article1 {
  width: 527px;
  height: 218px;
  flex-grow: 0;
  padding: 32px 63px 71px 32px;
  box-shadow: 0.1px 1.6px 6.5px 0 rgba(0, 0, 0, 0.03),
    0.3px 7.7px 25.5px 0 rgba(0, 0, 0, 0.04),
    0.7px 20px 80px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border-radius: 15px;
}
.center .article2 {
  width: 652px;
  height: 218px;
  flex-grow: 0;
  padding: 32px 32px 33px;
  box-shadow: 0.1px 1.6px 6.5px 0 rgba(0, 0, 0, 0.03),
    0.3px 7.7px 25.5px 0 rgba(0, 0, 0, 0.04),
    0.7px 20px 80px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border-radius: 15px;
}
.center .article1 h3 {
    width: 240px;
    height: 29px;
    margin: 0 192px 10px 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align: left;
    color: #31cdd9;
}
.center .article2 h3 {
    width: 410px;
    height: 29px;
    margin: 0 178px 10px 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align: left;
    color: #31cdd9;
}
.center .article1 p {
  width: 432px;
  height: 76px;
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #667180;
}
.center .article2 p {
  width: 588px;
  height: 114px;
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: left;
  color: #667180;
}

.Ourapproach {
  padding-top: 80px;
  padding-bottom: 70px;
}

.Ourapproach h1 {
  width: 557px;
  height: 39px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.04px;
  text-align: left;
  color: #30dcdb;
  margin-bottom: 26px;
}

.Ourapproach p {
  width: 1144px;
  height: 145px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #667180;
}
.Ourapproach p span {
  font-weight: bold;
}
.Group-51{
  width: 1440px;
  height: 334px;
  object-fit: contain;
  background-image: url("../images/Group\ 51.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f7f9fc;
}

.Rectangle-16{
  width: 1440px;
  height: 288px;
  margin: 70px 0 873px;
  padding: 77px 149px 97px 151px;
  object-fit: contain;
  background-image: linear-gradient(to top, #31cdd9, #163778);
}
.Rectangle-16 h3{
  width: 1140px;
  height: 114px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.03px;
  text-align: center;
  color: #ffffff;

}
.iletisim{
  display: flex;
  margin-top: 70px;
}

.iletisimsol h1{
  width: 557px;
  height: 39px;
  margin-bottom: 26px;
  margin-right: 130px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.04px;
  text-align: left;
  color: #30dcdb;
}
.iletisimsol p.pbir{
  width: 557px;
  height: 87px;
  margin-bottom: 24px;
  margin-right: 130px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #667180;
}
.iletisimsol p.piki{
  width: 557px;
  height: 57px;
  margin-bottom: 77px;
  margin-right: 130px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #667180;
}

.iletisimsag{
  display: flex;
}

.iletisimsag input{
  display: flex;
  width: 457px;
  height: 56px;
  padding: 16px;
  border-radius: 6px;
  border: solid 1px #b3bbc8;
  background-color: #ffffff;
  margin-bottom: 16px;
}
.iletisimsag textarea{
  width: 457px;
  height: 110px;
  padding: 16px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.32px;
  text-align: left;
  color: #b3bbc8;
  border-radius: 6px;
  border: solid 1px #b3bbc8;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.iletisimsag button{
  width: 1440px;
  height: 1136px;
  margin-top:40px;
  padding: 10px 0 48px;
  display: flex;
  width: 460px;
  height: 54px;
  flex-grow: 0;
  padding: 16px 164px 16px 176px;
  border: solid 1px #b3bbc8;
  border-radius: 6px;
  background-color: #31cdd9;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.09px;
  text-align: left;
  color: #ffffff;
}
.footernav{
  margin-top: 100px;
  border-top: solid 1px #b3bbc8;
}


.footernav nav {
  list-style: none;
  display: flex;
}
.footernav nav ul {
  list-style: none;
  display: flex;
}
.footernav nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 56px;
  padding-top: 40px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #667180;
  text-decoration: none;
}

.footer{
  display: flex;
  margin-top: 51px;
}
.footersol .p1{
  width: 317px;
  height: 19px;
  margin-bottom: 36px;
  margin-right: 150px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #b3bbc8;
}
.footersol .p2{
  width: 557px;
  height: 19px;
  margin-right: 151px;
  margin-bottom: 48px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #b3bbc8;
}

.footersag .footerimg1{
  margin-right: 29px;
}